
body {
    text-decoration: none;
    background-color: #f8f8f8;

}

h1 {
    margin: 0;
}

.float-container {
    margin: 5%;
    /*background-size: cover;*/

}


/* hhh*/
/*hh*/


.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%
}

.name {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700px;
    color: black;
    opacity: 0.8;
    max-width: 100%;
}

.banner {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.services {
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color: black;
}

.services:hover{
    color:#c90a3a !important;
}

.toolkit {
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color: black;
}

.toolkit:hover{
    color:#fb4c00 !important;
}

.contact-me {
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color: black;
}

.contact-me:hover{

    color:#fd9904 !important;
}

.misc {
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color: black;

}

.misc:hover{
    color:#5594c8 !important;
}

.list-items {
    margin-left: 5%;
}

.list-subitems {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 18px;
    margin-left: 5%;
    //background-color: #111111;
    //opacity: 0.7;
    color: black;
    padding: 5px;
    //width: 50%;
    text-align: justify;
    text-justify: auto;
}

.lefty {
    margin-left: 0;
    width: 120px;
    max-width: 95%;
}

.error {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 18px;
}

.red {
    color:#c90a3a;
}

.orange {
    color:#fb4c00;
}

.yellow {
    color:#fd9904;
}

.blue {
    color:#5594c8;
}

//decoration
.location {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}

.line {
    position: relative;
    background-color: black;
    height: 1px;
    width: 300px;
    max-width: 50%;
    margin-bottom: 1.5%;
    margin-top: 1%;
 }

 .line-norm {
     background-color: black;
     height: 1px;
     width: 90%;
     //margin-bottom: 3%;
     //margin-top: -2%;
 }

//box shadows
.top {
    box-shadow: 0 10px 40px 10px #000000;
}

.right {
    box-shadow: 10px 0 40px 10px #000000;
}

.bottom {
    box-shadow: 0 10px 40px 10px #000000;
}

.left {
    box-shadow: 10px 0 40px 10px #000000;
}

.all {
    box-shadow: 0 0 20px #000000;
}


//show preview of links in iframe
.previewbox{
    display: none;
    width: 100%;
}

// masonry 
.grid-item {
    display: inline-block;
    width: 300px;
    height: 300px;
    //clear: left;
    float: right; 
    //margin-top: 2%;
    //margin-bottom: 2%;
    //margin-left: -10px;
    //margin-right: -10px;
    -webkit-transition: .7s ease-in-out opacity !important;
    -moz-transition: .7s ease-in-out opacity !important;
    -o-transition: .7s ease-in-out opacity !important;
    transition: .7s ease-in-out opacity !important;
    opacity: 0.6;
}

.grid-item:hover {
    z-index:555555 !important;
    opacity: 1.0;
}

.mason {
    position: relative;
    max-width: 90%;
    z-index: 10;
}


//link colors
/* unvisited link */

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

// Glow 
.hvr-glow {
  //display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

// Grow 
.hvr-grow {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// visited link 
a:visited {
    color: black;
}

// mouse over link 
a:hover {
    color: #D34650;
    text-decoration: none;
}

// selected link 
a:active {
    color: black;
    text-decoration: none;
}

//icons
.font-awesome {
    //text-align: center;
    font-size: 30px;
    //display: block;
    //margin-left: auto;
    //margin-right: auto;
    color: black;
}
